<!DOCTYPE html>
<html>
<head>
  <title>Dev Match</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", type: 'text/javascript' %>
  <%= javascript_include_tag 'application' %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <%= csrf_meta_tags %>
</head>
<body class="layout_background">
  <nav class = "navbar navbar-inverse navbar-static-top" role ="navigation">
    
    <div class='container'>
      <div class = "navbar-header">
        <button type ="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <%=link_to root_path, class: 'navbar-brand' do %>
         <i class="fa fa-users"></i>
          Dev Match
        <%end %>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <div class=" nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary navbar-btn' %> 
          <% else %>
            <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary navbar-btn', method: :get %>
          <% end %>  
        </div>
      <ul class ="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><%= link_to "Community", users_path %></li>
          <li><%= link_to "Settings", edit_user_registration_path %></li>
        <% end %>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
      </ul>
      </div><!-- /.navbar-collapse -->
   </div>
  </nav>
<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
<%= yield %>
  </div>
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
            <h6>Copyright &copy; 2015 DEVMATCH</h6>
          </div>
          <div class="col-sm-4">
            <h6>Help and Support</h6>
            <p class="text-justify">At Dev Match, you can meet devlopers and investors around the globe who can help or guide you throught your journey to sucess. So basically anyone who is looking for investment for the startup or looking for a co-founder for their startup can get in touch with like minded people here. Go join the community Now!
            </p>
          </div>
          <div class="col-sm-2">
            <h6>Navigation</h6>
            <ul class="unstyled text-justify">
              <li><a href="#"></a>Home</li>
              <li><a href="#"></a>Services</li>
              <li><a href="#"></a>Links</li>
              <li><a href="#"></a>Contact Us</li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h6>Follow Us</h6>
            <ul class="unstyled text-left">
              <li><a href="#"></a>Facebook</li>
              <li><a href="#"></a>Twitter</li>
              <li><a href="#"></a>Linkedin</li>
              <li><a href="#"></a>Google Plus</li>
            </ul>
          </div>
          <div class="col-sm-2">
            <h6>Coded with <span class="glyphicon glyphicon-heart"></span> by Ankit</h6>
          </div>
        </div>
      </div>
    </footer>    
   </body>
</html>
